

<!-- Header sections starts  -->
            <header class="header-container">
                <img src="/facebook/src/assets/img/logo.png" alt="" srcset="" class="logo">
                <nav class="nav-bar">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a routerLink="/about">About Us</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                    </ul>
                </nav>
            
            </header>
            <!-- Header Section ends  -->





<router-outlet></router-outlet>

<footer class="footer">
    <p class="copyright">Copyright 2022 @facebook 0.1</p>
</footer>