
<link rel="stylesheet" href="delete-post.component.css" />
<button routerLink="/posts">Back to ALL Posts <---</button>
<button routerLink="/login" style="float: right; margin: 10px;"  class="btn btn-danger mx-2">Logout</button>
<div style="margin-left: 500px;" class="textcenter">
    <form (ngSubmit)="onSubmit()">
        <h1 class="createPostTextcss">Create New Post </h1>
        <div class="form-group">
            <label for=""> enter post id  </label>
            <input style="margin-left: 22px;" type="text"  class="form-control" id="id"
            [(ngModel)]="postObj.id" name='id'>
        </div>
    
        
        <br>
    <button style="margin-left: 42px;" class="btn btn-success buttoncss textcenter " type="submit" (ngSubmit)="onSubmit()"> Delete Post</button>
    
    </form>
    </div>